<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html;charset=UTF-8"/>
        <title>Title</title>

        <script th:src="@{/js/jquery.js}" type="text/javascript"></script>
    </head>

    <body>
        <div id="msg_from_server"></div>

        <script type="text/javascript">
        if (!!window.EventSource) {
            var source = new EventSource('/sse/emitter');
            s='';
            source.addEventListener('message', function(e) {

                s+=e.data+"<br/>"
                $("#msg_from_server").html(s);

            });

            source.addEventListener('open', function(e) {
                console.log("连接打开.");
            }, false);

            source.addEventListener('error', function(e) {
                if (e.readyState == EventSource.CLOSED) {
                    console.log("连接关闭");
                } else {
                    console.log(e.readyState);
                }
            }, false);
        } else {
            console.log("没有sse");
        }

        </script>
    </body>
</html>