server:
  port: 8050
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

spring:
  application:
    name: microservice-file-upload
  http:
    multipart:
      max-file-size: 2000MB     # 文件的最大大小
      max-request-size: 2500MB  # 请求的最大大小